@using ZenithHealingCenter.Data.Enums;
@model NewMedicalPackageVM

@{
    ViewData["Title"] = "Editeaza un Pachet";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center my-5">
            <h1>Editeaza pachetul</h1>
        </div>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CabinetId" class="control-label"></label>
                                <select asp-for="CabinetId" class="form-control" asp-items="ViewBag.Cabinets"></select>
                                <span asp-validation-for="CabinetId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SpecializarePachet" class="control-label"></label>
                                <select asp-for="SpecializarePachet" class="form-control" asp-items="Html.GetEnumSelectList<Specializare>()"></select>
                                <span asp-validation-for="SpecializarePachet" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorId" class="control-label"></label>
                                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>
                           
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var output = document.getElementById("ImageUrlPreview");
            output.src = $("#ImageFile").val();
        });
        $("#ImageFile").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}
